* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EAE7DD;
    overflow-x: hidden;
}

header {
    height: 150px;
    width: 100%;
    position: relative;
    background-color: #EAE7DD;
}

#logo {
    height: 100%;
    position: absolute;
    left: 45%;
}

#lupa {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 30%;
    left: 90%;
}

#carrinho {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 30%;
    left: 95%
}

#listaCategorias {
    width: 100%;
    text-align: center;
    border-top: solid 1px #4F2800;
    border-bottom: solid 1px #4F2800;
}

#listaCategorias>ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#listaCategorias>ul>li>a {
    text-decoration: none;
    color: #4F2800;
    font-family: Barlow Semi Condensed;
    font-size: 30px;
}

#produtos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 100px;
    margin: 100px;
}

.div1 {
    grid-row-start: 1;
    text-align: center;
}

.div1 a {
    color: #4F2800;
    text-decoration: none;
    font-family: Barlow Semi Condensed;
    font-size: 60px;
}

.div2 {
    grid-row-start: 1;
    text-align: center;
}

.div2 a {
    color: #4F2800;
    text-decoration: none;
    font-family: Barlow Semi Condensed;
    font-size: 60px;
}

.div3 {
    grid-row-start: 1;
    text-align: center;
}

.div3 a {
    color: #4F2800;
    text-decoration: none;
    font-family: Barlow Semi Condensed;
    font-size: 60px;
}

.div4 {
    grid-row-start: 2;
    text-align: center;
}

.div4 a {
    color: #4F2800;
    text-decoration: none;
    font-family: Barlow Semi Condensed;
    font-size: 60px;
}

.div5 {
    grid-row-start: 2;
    text-align: center;
}

.div5 a {
    color: #4F2800;
    text-decoration: none;
    font-family: Barlow Semi Condensed;
    font-size: 60px;
}

.div6 {
    grid-row-start: 2;
    text-align: center;
}

.div6 a {
    color: #4F2800;
    text-decoration: none;
    font-family: Barlow Semi Condensed;
    font-size: 60px;
}

footer {
    height: 320px;
    width: 100%;
    background-color: #4F2800;
}

footer>div {
    margin: auto;
    width: 860px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 30%;
}

footer>div>main {
    width: 30%;
    text-align: center;
}

footer>div>main>h1 {
    color: #EAE7DD;
    font-family: Barlow Semi Condensed;
    font-size: 30px;
}

footer>div>main>p {
    color: #EAE7DD;
    font-family: Barlow Semi Condensed;
    font-size: 20px;
}

footer>div>main>a {
    text-decoration: none;
    color: #EAE7DD;
    font-family: Barlow Semi Condensed;
    font-size: 20px;
}

footer>div>main>svg {
    color: #EAE7DD;
}